<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4c4cf0b696.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/admin.css">
    <link rel="stylesheet" href="/public/css/home_view.css">
    <link rel="stylesheet" href="/public/css/user_home.css">
</head>
<body>
        <!-- <nav id="nav2" >
            <div class="blog_logo">
                <a href="/">View Blogs</a>
            </div>
                <div class="route">
                <ul id="signin">
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
                </div>
        </nav> --> 
        <section id="menu" style="z-index: 1;">
            <div class="logo">
                <h4><a href="/seller/home">Ecommerce</a></h4> 
            </div>
            <div class="items">
                <a id="nav_link" href="/seller/dashboard"><li><div class="menu_icon"><i class="fa-solid fa-chart-pie"></i><p id="post_menu">Dashboard</p></div></li></a>
                <a id="nav_link" href="/seller/profile"><li><div class="menu_icon"><i class="fa-solid fa-circle-check"></i><p id="post_menu" href="#">Profile</p></div></li></a>
                <li><div class="menu_icon"><i class="fa-solid fa-feather" style="font-style: normal; font-size: 16px;"></i> <p class="post_menu" style="color: rgb(102, 110, 14)">Post</p></div>
                    <ul class='dropdown' id="drop_down_post">
                        <a id="nav_link item_post" href="/seller/post"><li>Add New</li></a>
                        <a href="/seller/all-post"><li>All Post</li></a>
                        <a href="/seller/users"><li>users</li></a>
                        <a href="#"><li>Tags</li></a>
                    </ul>
                </li>
                <a id="nav_link" href="/seller/edit-admin/:id"><li><div class="menu_icon"><i class="fa-solid fa-feather"></i><p id="post_menu" href="#">Edit</p></div></li></a>
                <a id="nav_link" href="/seller/inbox"><li><div class="menu_icon"><i class="fa-solid fa-envelope"></i><p id="post_menu" href="#">Inbox</p></div></li></a>
                <a id="nav_link" href="/seller/users"><li><div class="menu_icon"><i class="fa-solid fa-envelope"></i><p id="post_menu" href="#">Customers</p></div></li></a>
                <a id="nav_link"href="#"><li><div class="menu_icon"><i class="fa-solid fa-gear"></i><p id="post_menu" href="#">Settings</p></div></li></a>
                <a id="nav_link"href="/logout"><li><div class="menu_icon"> <i class="fa-solid fa-gear"></i><p id="post_menu" href="#">Logout</p></div></li></a>
            </div>
         </section>
         <section id="interface" style="display: block; overflow: scroll;">
            <input type="checkbox" id="toggle">
            <div class="nav" style="z-index: 99;">
                <!-- For search bar -->
                <div class="n1">
                    <!-- for icon -->
                    <label class="nav-toggler" for="toggle">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </label>

                                    <!-- For search bar -->
                <div class="search_bar">
                    <i class="fa-solid fa-magnifying-glass" id="view"></i>
                    <i class="fa-sharp fa-solid fa-xmark" id="closeBtn"></i>
                </div>
                <input type="text" placeholder="New search here..." class="search_field">

                </div>
                <!--  For profile bar -->
                <div class="profile">
                    <i class="fa-solid fa-bell">

                    </i>
                    <img src="/public/images/bio.jpg" alt="">
                </div>
            </div>
            <div class="User_values" style=" display: block; position: relative; top: 20px;">
                <div class="col py-3">
                    <div class="row">
                        <div class="col">
                            <div class="userNav" aria-label="breadcrumb">
                                <ol>
                                    <li class="breadcrumb-item"><a href="/seller/home">Home</a></li>
                                    <li class="breadcrumb-item"><%= data.username %></li> 
                                </ol>
                            </div>
                            <ol>
                                <li class="breadcrumb-item more_inform"><a href="/seller/information">Add Additional Information</a></li>
                            </ol>

                        </div>

                        <div class="col text-end fu-lighter" style="padding-top: 50px; padding-right: 30px;">
                            <b>Last Updated</b>
                        </div>
                    </div>
                </div>
                
                <div id="verified" style="margin-left: 20px; position: relative; top: -10px;">
                    <% if(data.is_verified == 1) { %>
                        <p class="user_name"><p style="color: green;">verified <i class="fa-solid fa-check" style="color:rgb(62, 205, 9);"></i></p></p>
                        <% } %>
                </div>

                <ul class="list-group" style="margin-bottom: 40px;">
                    <li class="list-group-item">
                        <div class="col" style="max-width: 140px;">
                            <b>Name:</b>
                        </div>
                        <div class="col">
                            <%= data.firstname  %> <%= data.lastname %>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col" style="max-width: 140px;">
                            <b>Email:</b>
                        </div>
                        <div class="col">
                            <%= data.email  %>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col" style="max-width: 140px;">
                            <b>Telephone:</b>
                        </div>
                        <div class="col">
                            <%= data.mno  %>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col" style="max-width: 140px;">
                            <b>Password:</b>
                        </div>
                        <div class="col">
                            <%= data.password  %>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col" style="max-width: 140px;">
                            <b>Image:</b>
                        </div>
                        <div class="col">
                            <img src="/public/images/<%= data.image  %>" style="width: 10%; height: 10%; " alt="">
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col" style="max-width: 140px;">
                            <b>Customer Details:</b>
                        </div>
                        <textarea class="col" style="width: 90%;"><%= data.details  %>
                        </textarea>
                    </li>
                </ul>
            </div>
            
         </section>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"></script>
    <script src="/public/scripts/scripts.js"></script>
    <script src="/public/scripts/admin.js"></script>
</body>
</html>
