<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4c4cf0b696.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/admin.css">
    <link rel="stylesheet" href="/public/css/home_view.css">
    <link rel="stylesheet" href="/public/css/user_home.css">
</head>
<body>
        <!-- <nav id="nav2" >
            <div class="blog_logo">
                <a href="/">View Blogs</a>
            </div>
                <div class="route">
                <ul id="signin">
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
                </div>
        </nav> --> 
        <section id="menu" style="z-index: 1;">
            <div class="logo">
                <h4><a href="/admin/home">Ecommerce</a></h4> 
            </div>
            <div class="items">
                <a id="nav_link" href="/user/account"><li><div class="menu_icon"><i class="fa-solid fa-circle-check"></i><p id="post_menu" href="#">profile</p></div></li></a>
                <a id="nav_link" href="/user/mycart"><li><div class="menu_icon"><i class="fa-solid fa-feather"></i><p id="post_menu" href="#">cart (
                    <% if (typeof user.cart !== "undefined") { %>
                        <%= user.cart.items.length %>
                    <% } else { %>
                     0
                    <% } %>
                )</p></div></li></a>
                <a id="nav_link" href="/user/inbox"><li><div class="menu_icon"><i class="fa-solid fa-feather"></i><p id="post_menu" href="#">inbox</p></div></li></a>
                <a id="nav_link" href='/user/all_orders'><li><div class="menu_icon"><i class="fa-solid fa-list-ul"></i><p id="post_menu" href="#">orders</p></div></li></a>
                <a id="nav_link" href="/user/saved"><li><div class="menu_icon"><i class="fa-solid fa-envelope"></i><p id="post_menu" href="#">saved</p></div></li></a>
                <a id="nav_link" href="/user/settings"><li><div class="menu_icon"><i class="fa-solid fa-envelope"></i><p id="post_menu" href="#">settings</p></div></li></a>
                <a id="nav_link" href="/user/edit/:id"><li><div class="menu_icon"><i class="fa-solid fa-feather"></i><p id="post_menu" href="#">edit</p></div></li></a>
                <a id="nav_link"href="/logout"><li><div class="menu_icon"> <i class="fa-solid fa-gear"></i><p id="post_menu" href="#">logout</p></div></li></a>
            </div>
         </section>
         <section id="interface" style="display: block; overflow: scroll;">
            <input type="checkbox" id="toggle">
            <div class="nav" style="z-index: 99;">
                <!-- For search bar -->
                <div class="n1">
                    <!-- for icon -->
                    <label class="nav-toggler" for="toggle">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </label>

                                    <!-- For search bar -->
                <div class="search_bar">
                    <i class="fa-solid fa-magnifying-glass" id="view"></i>
                    <i class="fa-sharp fa-solid fa-xmark" id="closeBtn"></i>
                </div>
                <input type="text" placeholder="New search here..." class="search_field">

                </div>
                <!--  For profile bar -->
                <div class="profile">
                    <i class="fa-solid fa-bell">

                    </i>
                    <img src="/public/images/bio.jpg" alt="">
                </div>
            </div>


            <!-- all order list -->

            <div class="order_list_board">

                        <div class="order_list" style="margin: 15% 5% 0 5%;">
                            <table class="table">
                                <thead>
                                    <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">Title</th>
                                      <th scope="col">Price</th>
                                      <th scope="col">Quantity</th>
                                      <td scope="col"><b>Status</b></td>
                                    </tr>
                                  </thead>
                                <tbody>
                            <% for(let i = 0; i < details.items.length ; i++) 
                            { let item = details.items[i] %>
                              <tr>
                                    <th scope="row"><%= i %></th>
                                    <td><%= item.name %></td>
                                    <td><%= item.price %></td>
                                    <td><%= item.quantity %></td>
                                    <td>
                                        <p style="color: rgb(23, 154, 23)"><%= user_order.status %></p>
                                    </td>
                              </tr>
                              <% } %>
                                </tbody>
                            </table>
                        </div>
                
                
                 
            </div>
            
         </section>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"></script>
    <script src="/public/scripts/scripts.js"></script>
    <script src="/public/scripts/admin.js"></script>
</body>
</html>
