<!DOCTYPE html>
<html lang="en" style="height: auto;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electronics</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="/public/css/home_view.css">
    <link rel="stylesheet" href="/public/css/added.css">
    <link rel="stylesheet" href="/public/css/admin.css">
    <link rel="stylesheet" href="/public/css/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.css">
    <script src="https://kit.fontawesome.com/4c4cf0b696.js" crossorigin="anonymous"></script>
</head>
<body>
    <section id="interface" style="width: 100%;">  
        <!-- Nav -->

        <nav>
            <!-- For search bar -->
            <div class="logo"><a href="">Ecommerce</a></div>

            <div class="n1">
                <!-- for icon -->
                <label class="nav-toggler" for="toggle">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </label>
                <div class="search_">
                    <div class="search_icon">
                        <ul>
                            <li class="offers"><i class="fa-solid fa-user"></i>
                                <a id="nav_link" href="#">Account</a>
                                <ul class='dropdown'>
                                    <a href="/user/account"><li>Profile </li></a>
                                    <a href="/user/cart"><li>Cart</li></a>
                                    <a href="#"><li>About</li></a>
                                    <a href="#"><li>What's New</li></a>
                                </ul>
                            </li>
                            <li class="offers"><i class="fa-solid fa-circle-info"></i></i> <a id="nav_link" href="#">Q/E</a></li>
                            <li class="offers"><i class="fa-solid fa-cart-shopping"></i><a id="nav_link" href="#">Orders</a></li>                
                            

                        </ul>
                    </div>
                </div>
            </div>
            <!--  For profile bar -->
        </nav>

        <div class="highlights">
            <div class="New"><h6>What's New</h6></div>
             <!-- Slider main container -->
            <di class="new_trends swiper">
                <!-- Additional required wrapper -->
                <div id="swip_wrap" class="swiper-wrapper">
                  <!-- Slides -->
                  <% data.forEach(data_titles => { %>
                    <div  class="swiper-slide"><%= data_titles.title %></div>
                  <% }) %>
                </div>
                <!-- If we need pagination -->
                <!-- <div class="swiper-pagination"></div> -->
              
                <!-- If we need navigation buttons -->
              <div id="swip_cont">
                          <!-- Swiper arrows -->
                        <div id="swip" class="swiper-button-next">
                            <i class="ri-arrow-right-s-line"></i>
                        </div>

                        <div id="swip1" class="swiper-button-prev">
                            <i class="ri-arrow-left-s-line"></i>
                        </div>
                </div>
            </div>       
        </div>
        
        <!-- for site name -->
        <div class="site_logo">
            <div class="sub_class_menu" style="display: flex;">
                <a href="/user/home"><li class="cat_nav" style="padding: 10px;">All</li></a>
                <a href="/user/commodity"><li class="cat_nav" style="padding: 10px;">Commodities</li></a>
                <a href="/user/electronics"><li class="cat_nav" style="padding: 10px;">Electronics</li></a>
                <a href="/user/services"><li class="cat_nav" style="padding: 10px;">Services</li></a>
            </div>
            <div class="sub_class_menu" style="align-self: center; justify-self:right;">
                <input type="search" placeholder="search category">
            </div>
        </div>
        <!-- Post container -->
        <div class="home_container" style="width: 100%; height: 100%">

            <div class="background_info">
                
                <div class="background_details">
                    <h3>Get an Item near you</h3>
                    <h1>Enter Mami market online</h1>
                    <a href="/user/login"><input type="button" value="See More"></a>
                </div>

            </div>

            <div class="admin_post">
                <div class="post_block" style="background-color: none;">
                    <div class="links">
                        <a href="#">all</a>
                        <a href="#">mails</a>
                        <a href="#">setings</a>
                        <a href="#">New</a>
                        <a href="#">About</a>
                    </div>
                </div>

                <div class="single_cont">
                    <div class="swip_commodity_wrap">
                        <div class="single_swip swiper">
                            <div class="single_swip_wrap swiper-wrapper">
                            <% data.forEach(single_cat => { %>
                                <div class="single_commodity swiper-slide" style="background-image: url('/public/images/<%= single_cat.image %>');">
                                    <div class="single-data">
                                        <h3><%= single_cat.title %></h3>
                                        <a href="/all-post/view-added/?id=<%= single_cat._id %>"><input type="button" value="See More"></a>
                                    </div>
                                </div>
                            <% }) %>
                            </div>
                                                       <!-- If we need navigation buttons -->
                            
                                                         <!-- Swiper arrows -->
                                <div  class="swiper-button-next">
                                <i id="swip_arrow" class="ri-arrow-right-s-line"></i>
                                </div>
    
                                <div  class="swiper-button-prev">
                                <i id="swip_arrow" class="ri-arrow-left-s-line"></i>
                                </div>
                            
                        </div>
                    </div>


                    <div class="post_block3">
                        <div class="post_content_wrap">
                            <div class="cat_names"><h2>Electronics</h2></div>
                            <div class="post_wrap">
                                <% data.forEach(post_data => { %>
                        
                                    <% if (post_data.category.name === 'electronics' ) { %>
                                   
                                       <div id="post_content" style="background-image: url('/public/images/<%= post_data.image %>');">
               
                                           <div class="admin_post_des">    
                                               <h4 class="post_title"><%= post_data.title%></h4>
                                               <p><%= post_data.richDescription %></p>
                                               <a href="/all-post/view-added/?id=<%= post_data._id %>"><input type="button" value="See More"></a>
                                           </div>
                   
                                       </div>
                   
                                        <% } 
                                   %>
        
                                <% }) %>
                            </div>
                        </div>
    
     
                    </div>
                </div>

                <div class="post_block1" >
                    <h4 class="trends_post">Trending</h4>
                    
                    <% data.forEach(post_trends => { %>
                        <div class="trend_carrier" style="display: grid; grid-template-columns: 1fr 1fr;">
                            <div class="trends_image_post" style="background-image: url('/public/images/<%= post_trends.image %>');">
                                <p><b><%= post_trends.title %></b></p>
                                <a href="/all-post/view-added/?id=<%= post_trends._id %>"><input type="button" value="See More"></a>
                            </div>
                            <div class="admin_post_info">
                                <p><%= post_trends.richDescription %></p>
                            </div>
                        </div>
                    <% }) %>

                </div>
            </div>

        </div>

            
            <!-- Footer Start -->
                    <!-- News With Sidebar End -->
                    <a href="#" class="scroll-up" id="scroll-up">
                        <i class="ri-arrow-up-line"></i>
                    </a>

                    
        <!-- footer -->
        <footer id="more_info">
            <div class="more_in">
                <ul>
                    <li><a href=""><i class="fa-brands fa-square-instagram"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
                <p class="Us">Contact Us:  070367442231</p>
            </div>
        </footer>

    </section>

    <script src="/public/scripts/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.js"></script>
    <script src="/public/scripts/more.js"></script>
    <script src="script/home.js"></script>
    <script src="/public/scripts/home_script.js"></script>
    <script src="/public/scripts/more.js"></script>
</body>
</html>
